#grid {
  display: flex;
  border: solid 3px black;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: visible;
}

.grid-tile {
  margin: 1px;
  background-color: white;
}